
body{
    background-color: rgba(24,30,42,255);
    }


    
@media(max-width: 400px){
    .intro{
    display: flex;    
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;

    
    
       
    }
    
    .menu{
        display:flex;
        justify-content: space-between;
        list-style: none;
        
        align-items: center; 
        padding: 5%;
        
        
        }
    .menu-header{
        color: white;
        font-family: "Gill Sans MT";
        font-size: small;
    }
    .logo{
        max-width: 25%;
        padding-right: 15%;
    }
    
   
}
